In [2]:
2+2, 3*7

(4, 21)

In [2]:
6*7

42

In [3]:
2**7

128

In [4]:
19/2

9.5

In [5]:
2+2
6*7
2**7 
19/2

print(2+2)
print(6*7)
print(2**7)
print(19/2)

4
42
128
9.5

In [6]:
23 + 3 * 2
3 * 5 ** 3 - 1

374

In [7]:
23 + 3 * 2
3 * 5 ** 3 - 1

print(23+3*2)
print(3*5**3-1)

29
374

In [9]:
(23 + 3) * 2
(3 * 5) ** (3-1)

225

In [17]:
(23 + 3) * 2
(3 * 5) ** (3-1)
print((23 + 3) * 2)
print((3 * 5) ** (3-1))

52
225

In [18]:
max (2,4) ## calculate the maximum of the value in the brackets

4

In [19]:
min(2,4) ## calculate the miminum value in the brackets

2

In [20]:
abs(2) ##calculate the absolute value for positive number in the bracket

2

In [21]:
abs(-2)  ## calculate the absolute negative values in the bracket

2

In [3]:
print(round(42.124563 , 2))
print(round(42.124563 , 3))
print(round(42.124563 , 4)) ## round up the value in the bracket to different decimal places

42.12
42.125
42.1246

In [25]:
round(42.124563 , 1)  ## round up the value in the bracket to 1 decimal place

42.1

In [26]:
round(42.124563 , 3)  ## round up the value in the bracket to 3 decimal places

42.125

In [27]:
round(42.124563 , 4)##   round up the value in the bracket to 4 decimal places

42.1246

In [29]:
y = [1.1, 3.2, 0.9, 2.7, 4.5] 
print(y)
type(y)
max(y)
sum(y)
reversed(y)

[1.1, 3.2, 0.9, 2.7, 4.5]

In [31]:
y = [1.1, 3.2, 0.9, 2.7, 4.5]
max(y)

4.5

In [32]:
y = [1.1, 3.2, 0.9, 2.7, 4.5]
type(y)

list

In [39]:
y = [1.1, 3.2, 0.9, 2.7, 4.5]
sum(y)

12.400000000000002

In [1]:
y = [1.1, 3.2, 0.9, 2.7, 4.5]
sorted(y)

[0.9, 1.1, 2.7, 3.2, 4.5]