In [2]:
#a) Load the data into a pandas dataframe. (First download and save the file in a folder
#on your computer, or if working with Google Colab, upload it to your Google Drive).

import pandas as pd
df= pd.read_csv (r"C:\Users\chinw\Downloads\insurance (1).csv")
df

      age  gender     bmi  children smoker       city      cost
0      19  female  27.900         0    yes   Aberdeen  17330.99
1      18    male  33.770         1     no    Glasgow   1892.99
2      28    male  33.000         3     no    Glasgow   4680.12
3      33    male  22.705         0     no     Dundee  22345.30
4      32    male  28.880         0     no     Dundee   4235.46
...   ...     ...     ...       ...    ...        ...       ...
1333   50    male  30.970         3     no     Dundee  10902.58
1334   18  female  31.920         0     no  Edinburgh   2219.95
1335   18  female  36.850         0     no    Glasgow   1789.07
1336   21  female  25.800         0     no   Aberdeen   2081.88
1337   61  female  29.070         0    yes     Dundee  29766.77

[1338 rows x 7 columns]

In [3]:
#b) Examine the dataframe. Which variables are quantitative, which are qualitative?
df.dtypes

age           int64
gender       object
bmi         float64
children      int64
smoker       object
city         object
cost        float64
dtype: object

In [2]:
# using the pandas module functions
#print(data.columns)
##x = data['negSkew']
#x = insurance['age']
#x=data
print("Using pandas module functions")
print("  n = ", x.count())
print("Measures of central location")
print("mean = ", x.mean())
print("median = ", x.median())

Using pandas module functions

NameError: name 'x' is not defined